<div id="newNavBar">
  <div id="navBarWrapper">
    <div class="row row-cols-3 spaceBetween">
      <div class="col-sm">
        <div id="myName">
          <a class="myName" title="Home" href="#landingSection"> JADNELL </a>
          <br />
          <a class="myName" title="Home" href="#landingSection"> HARESH </a>
        </div>
      </div>

      <div class="col-lg-auto">
        <ul id="menuButtonList" class="hamburgerMenuHide">
          <li>
            <button id="menuButton" type="button">
              <img
                src="Images/Icons/hamburgerMenu.svg"
                title="Menu"
                alt="Menu Button"
              />
            </button>
          </li>
        </ul>

        <ul id="navBarItems" class="hide">
          <!--
            <li class="navBarItem">
              <a class="navBarTitles" href="#aboutMeSection"> ABOUT ME </a>
            </li>
            -->
          <li class="navBarItem">
            <a class="navBarTitles" href="#expertiseSection"> EXPERTISE </a>
          </li>
          <li class="navBarItem">
            <a class="navBarTitles" href="#projectsSection"> PROJECTS </a>
          </li>
          <li class="navBarItem">
            <a class="navBarTitles" href="#contactSection"> CONTACT </a>
          </li>
          <!-- Theme Changer Button -->
          <div id="themeChanger">
            <button id="themeButton" type="button">
              <img
                id="themeChangerButtonIcon"
                src="Images/Icons/moon.svg"
                title="Change Theme"
                alt="Theme changing button"
              />
            </button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
