/* GLOBAL DESIGN*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  text-size-adjust: auto;
  margin: 0 auto;
  position: relative;
  min-width: 100vw;
  width: 100%;
  display: block;
  overflow-x: hidden;
}

.background {
  z-index: -2;
  position: fixed;
  height: auto;
  width: 100%;
}

section {
  width: 85%;
  margin: auto;
}

.navBar {
  position: sticky;
  z-index: 1100;
  top: 10px;
  left: 20px;
  width: 65px;
  height: 65px;
  border-radius: 20px;
}

#themeChanger {
  position: sticky;
  z-index: 1100;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  margin-top: -99px;
  border-radius: 20px;
  float: right;
}

button {
  transition: 0.2s ease-in;
  margin: auto;
}

button.menuButtons:hover {
  box-shadow: 0px 10px 15px #79a9f5;
  transition: 0.2s ease-in;
  transform: translateY(-4px);
}

button:active {
  transform: translateY(-1px);
}

#menuButtonsList {
  list-style: none;
  padding-left: 0;
  padding-top: 15px;
  transition: 0.3s ease;
}

.options {
  cursor: pointer;
  width: 50px;
}

.hide {
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;
}

.menuButtonsTitle {
  margin-top: 5px;
  margin-left: -10px;
  text-align: center;
  font-size: 0.75em;
  transition: 0.3s ease;
  background: -webkit-linear-gradient(bottom right, #7bd5f5, #787ff6);

  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  padding: 0.1em 0.25em;
  color: #252525;
}

.menuButtons {
  background: -webkit-linear-gradient(bottom right, #7bd5f5, #787ff6);
  box-shadow: 2px 2px 3px #252525;

  width: 50px;
  height: 50px;
  margin: auto;
  padding: 5px;
  border: none;
  border-radius: 20px;
}

.sectionHeadings {
  padding: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  color: #252525;
  transition: 1s ease-in;
  text-shadow: 2px 2px 3px #79a9f5;
}

.animatedSection {
  opacity: 0;
}

/* ABOUT ME SECTION*/
.greet {
  margin: 3em auto;
  width: 100%;
  padding: 0;
}

.greeting {
  color: #252525;
  text-shadow: 1px 2px 3px #79a9f5; /* Horizontal offset, Vertical offset, Blur radius, Color */
  transition: 1s ease-in;
  margin: 0 auto;
  padding: 0.35em 0;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.2s ease-in;
}

.greeting:hover {
  transform: translateY(-5px);
  transition: 0.2s ease-in;
}

.mainPictures {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #252525;
  margin: 20px;
  transition: 0.2s ease-in;
}

.mainPictures:hover,
.infoCard:hover,
.contactCard:hover,
.resumeCard:hover,
.formButtons:hover,
#readMoreButton:hover,
footer:hover {
  box-shadow: 0px 10px 15px #252525;
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

.infoCard {
  background-color: #dbeefb;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  padding: 16px;
  margin: auto;
  transition: 0.2s ease-in;
  width: 265px;
  height: 255px;
}

.infoCard p {
  font-size: 0.8em;
  text-align: justify;
  text-indent: 2em;
  color: #252525;
  margin: 0;
}

.infoCard ul {
  margin: 0;
  padding-left: 1em;
}

.infoCard li {
  text-align: left;
  color: #252525;
  font-size: 0.8em;
  padding: 0.45em 0;
}

.cardTitles {
  background: -webkit-linear-gradient(top, #7bd5f5, #787ff6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.75em;
  font-size: 1.2em;
}

.skillHeading {
  background: -webkit-linear-gradient(bottom, #fd8c69, #a82654);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: oblique;
}

#message::-webkit-scrollbar,
.container::-webkit-scrollbar {
  padding: 10px;
  margin: 5px;
}

#message::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track {
  background: #dbeefb;
  border: 2px solid #252525;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}

#message::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(top right, #7bd5f5, #787ff6);
  border-radius: 30px;
  width: 90%;
  border: 2px solid #252525;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }

  .background {
    height: 100vh;
    width: auto;
    position: fixed;
  }

  section {
    width: 100%;
  }

  .greet {
    margin: 0;
  }

  .infoCard {
    margin: 0.5em auto;
    width: 275px;
    height: fit-content;
  }

  .contactCard {
    min-width: 300px;
  }

  #projectContainer.container {
    margin-bottom: -40px;
  }

  #softwareTitle {
    margin-top: 0.75em;
  }
}

/* TECH STACK SECTION */
.techStackCard {
  background-color: #dbeefb;
  box-shadow: 2px 2px 3px #252525;
  margin: 10px auto;
  padding: 20px;
  width: 100%;
  min-width: 275px;
  border-radius: 20px;
  transition: 0.2s ease-in;
  z-index: 3;
}

.progLangCube {
  background: -webkit-linear-gradient(top, #7bd5f5, #787ff6);
  width: inherit;
  height: 3em; /*3em Original Size*/
  box-shadow: 2px 2px 3px #252525;
  margin: auto;
  margin-top: 1em;
  border-radius: 20px;
  transition: 0.3s ease;
  border: none;
  overflow: hidden;
}

.progLangCube:hover {
  background-color: #252525;
  box-shadow: 0px 10px 15px #252525;
  transform: translateY(-4px);
}

.projectTitle:active,
#readMoreButton:active {
  transform: translateY(-1px);
}

.space5px {
  height: 5px;
  width: auto;
}

.space8px {
  height: 8px;
  width: auto;
}

.space25px {
  height: 25px;
  width: auto;
}

.space45px {
  height: 45px;
  width: auto;
}

h6.progLangName {
  margin: auto;
  font-size: 0.75em;
  font-style: oblique;
  color: #dbeefb;
  font-weight: bold;
  transition: 0.1s ease;
  margin-top: 1.45em;
}

img.progLangIcon {
  z-index: 2;
  display: inline;
  margin-top: 0.25em;
}

hr#techDescDivider {
  margin: 0.25em auto;
  background-color: #dbeefb;
  opacity: 100%;
  border: none;
  height: 1.5px;
  width: 95%;
  border-radius: 30px;
  z-index: 1;
}

.description {
  padding: 0 1em;
  color: #dbeefb;
  text-decoration: underline;
  font-size: 0.9em;
}

.techDescription {
  display: flex;
  align-items: flex-start;
  text-align: center;
  padding: 0 1em;
  color: #dbeefb;
  margin: 0.6em auto;
  font-size: 0.65em;
  text-decoration: none;
  text-indent: 5%;
}

#readMoreButton {
  border: none;
  background-color: #dbeefb;
  border-radius: 20px;
  padding: 0.25em 0.5em;
  margin: 0.15em;
  box-shadow: 2px 2px 3px #252525;
  font-size: 0.6em;
  min-width: 9.5em;
}

#readMoreText {
  padding-left: 1em;
}

#jsLogo {
  margin-top: 0.57em;
}

.expandArrow {
  margin-top: 0.5em;
  transition: ease 0.5s;
}

.expandButton {
  border: none;
  background-color: transparent;
}

#dartLogo {
  margin: 0.3em 0;
}
/* PROJECTS SECTION*/

#projectContainer {
  display: flex;
  overflow-x: scroll;
  margin: 0 auto;
  margin-top: -40px;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  gap: 10px;
}

.projectCard {
  background-color: #dbeefb;
  box-shadow: 2px 2px 3px #252525;
  margin: 20px auto;
  transition: 0.2s ease-in;
}

#projectContainer,
.projectCard {
  flex: 0 0 100%;
  padding: 24px;
  border-radius: 20px;
  scroll-snap-align: start;
}

.projectTitle {
  color: #dbeefb;
  background-color: #252525;
  border-radius: 200px;
  box-shadow: 2px 2px 3px #252525;
  margin: 10px;
  padding: 5px;
  width: 80%;
  transition: 0.3s ease;
}

h4.projectTitle {
  margin: 0 auto;
}

.projectButton,
.sourceCodeButton {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #252525;
  padding: 3px;
  border: none;
  background-color: #252525;
  transition: 0.2s ease-in;
}

.projectButton:hover,
.sourceCodeButton:hover,
.projectTitle:hover {
  box-shadow: 0px 10px 15px #798ef6;
  transform: translateY(-4px);
}

.projectDescription {
  padding: 10px;
  margin: 10px auto;
}

/* Image Slideshow */
.projectImages {
  border-radius: 20px;
  width: 100%;
  height: 250px;
  box-shadow: 2px 2px 3px #252525;
  transition: 0.3s ease-in;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -150px;
  padding: 10px;
  color: #dbeefb;
  transition: 0.3s ease;
  border-radius: 20px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Position the "left button" to the left */
.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: #798ef6;
  box-shadow: 1px 2.5px 5px #252525;
  color: #dbeefb;
  transform: translateY(-2px);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #dbeefb;
  padding: 15px;
  font-size: 12px;
  position: absolute;
  top: 0;
  border-radius: 50px;
}

/* The dots/indicators */
.dot1,
.dot2,
.dot3 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #dbeefb;
  box-shadow: 2px 2px 3px #252525;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

#imageDots1,
#imageDots2,
#imageDots3 {
  margin-top: -30px;
  position: relative;
  z-index: 10;
}

.active,
.dot1:hover,
.dot2:hover,
.dot3:hover {
  background: -webkit-linear-gradient(top, #7bd5f5, #787ff6);
  box-shadow: 0px 2px 5px #798ef6;
  transform: translateY(-2px);
  transition: ease 0.5s;
}

/* CONTACT INFORMATION SECTION */
.contactCard {
  background-color: #dbeefb;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  padding: 16px;
  margin: auto;
  width: 100%;
  transition: 0.2s ease-in;
}

.socialMediaButton {
  background: -webkit-linear-gradient(top right, #7bd5f5, #787ff6);
  box-shadow: 2px 2px 3px #252525;

  width: 50px;
  height: 50px;
  margin: auto;
  padding: 5px;
  border: none;
  border-radius: 20px;
}

.socialMediaButton:hover {
  box-shadow: 0 10px 15px #252525;
}

.socialMediaTitles {
  padding: 5px;
}

.formButtons {
  background: -webkit-linear-gradient(top right, #7bd5f5, #787ff6);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  color: #dbeefb;
  padding: 10px;
  margin: auto;
  resize: none;
  transition: 0.2s ease-in;
  margin: 10px auto;
}

.formButtons:focus {
  box-shadow: 0px 10px 15px #798ef6;
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

.formButtons:active {
  padding: 10px;
  margin: 5px;
  resize: none;
  color: #dbeefb;
}

::placeholder {
  padding: 5px;
  margin: auto;
  color: #dbeefb;
  font-size: 13px;
}

#firstName {
  margin: 10px auto;
  padding: 10px;
  width: 45%;
  box-shadow: 2px 2px 3px #252525;
  color: #dbeefb;
}

#lastName {
  margin: 10px auto;
  padding: 10px;
  width: 45%;
  box-shadow: 2px 2px 3px #252525;
  color: #dbeefb;
}

#email {
  margin: auto;
  padding: 10px;
  width: 90%;
  box-shadow: 2px 2px 3px #252525;
  color: #dbeefb;
}

textarea {
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  height: 150px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  color: #dbeefb;
}

#firstName:hover,
#lastName:hover,
#email:hover {
  box-shadow: 0px 10px 15px #252525;
}

#firstName:focus,
#lastName:focus,
#email:focus {
  box-shadow: 0px 10px 15px #798ef6;
}

#submitButton {
  color: #dbeefb;
  font-size: 12px;
  margin: 0 auto;
  box-shadow: 2px 2px 3px #252525;
}

#submitButton:hover {
  box-shadow: 0px 10px 15px #252525;
  cursor: pointer;
}

#submitButton:active {
  transform: translateY(-2px);
  transition: 0.2s ease-in;
  box-shadow: 0px 10px 15px #798ef6;
}

.pageclip-form__submit::after {
  border-color: rgba(168, 38, 84, 0.8);
  border-left-color: #a82654;
}

.pageclip-form__success {
  background: hsla(34, 74%, 94%, 0.8);
  border-radius: 20px;
}

.resumeCard {
  background-color: #dbeefb;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  height: auto;
  margin: auto;
  width: 100%;
  transition: 0.2s ease-in;
}

.resumeCard h6 {
  margin-top: 5px;
  transition: 0.15s ease;
}

.resumeCard:hover h6 {
  color: #798ef6;
}

.resumeCard:active {
  transform: translateY(-2px);
  transition: 0.2s ease-in;
  box-shadow: 0px 10px 15px #252525;
}

#resumeButton {
  margin: auto;
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER */
footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #dbeefb;
  width: fit-content;
  max-width: 90%;
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  transition: 0.2s ease-in;
}
/* ANIMATIONS */

/*1. Fading animation */
.fade {
  animation: fade 2s ease 0s 1 normal forwards;
}

@keyframes fade {
  0% {
    opacity: 50%;
  }

  to {
    opacity: 1;
  }
}

/*2. Left Slide */
.leftSlide {
  animation: leftSlide 0.8s ease-out 0s 1 normal forwards;
  opacity: 1;
}

@keyframes leftSlide {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*3.*/
