/* GLOBAL DESIGN*/
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: linear-gradient(to bottom left, #ff8473, #fff9d2);
  width: auto;
  min-height: 100vh;
  text-size-adjust: auto;
  margin: 0 auto;
  position: relative;
}

.blur {
  filter: blur(10px);
}

.navBar {
  position: sticky;
  z-index: 1100;
  top: 10px;
  width: 65px;
  height: 65px;
  margin-left: 30px;
  border-radius: 20px;
  top: 10px;
}

button {
  transition: 0.3s ease;
  margin: auto;
}

button:hover {
  background-color: #ff8473;
  box-shadow: 0px 10px 15px #ff8473;
  color: #fff9d2;
  transform: translateY(-4px);
}

button:active {
  transform: translateY(-1px);
}

#menuButtonsList {
  list-style: none;
  padding-left: 0;
  align-items: left;
  justify-content: left;
  padding-top: 28px;
  transition: 0.3s ease;
}

.options {
  cursor: pointer;
  box-sizing: border-box;
}

.hide {
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;
}

.menuButtonsTitle {
  margin-top: 5px;
  text-align: center;
  font-size: small;
  color: #252525;
  transition: 0.3s ease;
  background-color: #fff9d2;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  padding: 2px;
}

.menuButtons {
  background-color: #fff9d2;
  box-shadow: 2px 2px 3px #252525;

  width: 65px;
  height: 65px;
  margin: auto;
  padding: 5px;
  border: none;
  border-radius: 20px;
}

/* ABOUT ME SECTION*/
#greeting {
  margin-top: -20px;
  transition: 1s ease-in;
}

.greeting,
#socialMedia,
h2 {
  color: #252525;
  text-shadow: 2px 2px 3px #fff9d2;
  transition: 1s ease-in;
  margin: 0 auto;
}

.mainPictures {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #252525;
  margin: 20px;
  transition: 0.2s ease-in;
}

.mainPictures:hover {
  box-shadow: 0px 10px 15px #252525;
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

.infoCard {
  background-color: #fff9d2;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  padding: 20px;
  margin: auto;
  min-width: 275px;
  width: 100%;
  transition: 0.2s ease-in;
}

.infoCard:hover,
.resumeCard:hover {
  box-shadow: 0px 10px 15px #252525;
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

#contact,
#summary,
#skills,
#awards,
#frontEnd,
#objectOriented,
#other,
.projectHeadings {
  color: #ff8473;
  text-shadow: 2px 2px 5px #ff8473;
  font-style: oblique;
}

p {
  font-size: medium;
  text-align: justify;
  text-indent: 2em;
  margin: 10px auto;
}

.skillHeading {
  color: #ff8473;
}

li {
  text-align: left;
}

#message::-webkit-scrollbar,
.container::-webkit-scrollbar {
  padding: 10px;
  margin: 5px;
}

#message::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track {
  background: #ff8473;
  border: 2px solid #252525;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}

#message::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
  background-color: #fff9d2;
  border-radius: 30px;
  width: 90%;
  border: 2px solid #252525;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 991px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }
}

/* TECH STACK SECTION */
.techStackCard {
  background-color: #fff9d2;
  box-shadow: 2px 2px 3px #252525;
  margin: auto;
  padding: 20px;
  width: 100%;
  min-width: 275px;
  border-radius: 20px;
  transition: 0.2s ease-in;
}

.techStackCard:hover {
  box-shadow: 0px 10px 15px #252525;
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

.progLangCube {
  background-color: #ff8473;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 3px #252525;
  padding: 10px;
  margin: auto;
  margin-top: 25px;
  border-radius: 20px;
  transition: 0.3s ease;
  border: none;
}

.progLangCube:hover,
.projectTitle:hover {
  background-color: #ff8473;
  box-shadow: 0px 10px 15px #ff8473;
  color: #fff9d2;
  transform: translateY(-4px);
}

.progLangCube:active,
.projectTitle:active {
  transform: translateY(-1px);
}

.progLangName,
.softwareName,
.techName {
  margin: auto;
  padding-bottom: 2px;
  font-size: 10px;
  font-style: oblique;
  color: #252525;
  font-weight: bold;
  transition: 0.1s ease;
}

#dartTitle {
  margin-bottom: 10px;
}

#dartImage {
  margin-bottom: 40px;
}

.progLangIcon {
  z-index: 2;
  overflow: clip;
}

#HTMLInfo,
#CSSInfo,
#JSInfo,
#PythonInfo,
#CPPInfo,
#DartInfo,
#SQLInfo,
#VSCODEInfo,
#AndroidStudioInfo,
#VSInfo,
#VirtualBoxInfo,
#RaspberryPiInfo,
#MATLABInfo,
#GitHubInfo,
#JupyterInfo,
#FlutterInfo,
#DjangoInfo {
  position: absolute;
  width: 25%;
  min-width: 200px;
  max-width: 450px;
  max-height: 450px;
  padding: 25px;
  margin: auto;
  background-color: #fff9d2;
  box-shadow: 2px 2px 3px #252525;
  border-radius: 50px;
  transition: 0.3s ease;
  z-index: 3;
}

#JSInfo,
#DartInfo,
#VSInfo,
#MATLABInfo,
#FlutterInfo {
  right: 30%;
}

#HTMLInfo:hover,
#CSSInfo:hover,
#JSInfo:hover,
#PythonInfo:hover,
#CPPInfo:hover,
#DartInfo:hover,
#SQLInfo:hover,
#VSCODEInfo:hover,
#AndroidStudioInfo:hover,
#VSInfo:hover,
#VirtualBoxInfo:hover,
#RaspberryPiInfo:hover,
#MATLABInfo:hover,
#GitHubInfo:hover,
#JupyterInfo:hover,
#FlutterInfo:hover,
#DjangoInfo:hover {
  transform: translateY(-4px);
}

.definitions {
  font-size: 12px;
  text-align: justify;
}

.definitions b {
  text-decoration: underline;
}

.defSource {
  color: #ff8473;
  position: relative;
  float: right;
}

/* PROJECTS SECTION*/
#projectContainer {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  gap: 12px;
}

.projectCard {
  background-color: #fff9d2;
  box-shadow: 2px 2px 3px #252525;
  margin: 24px;
  width: 100%;
  transition: 0.2s ease-in;
}

.projectCard:hover {
  box-shadow: 0px 10px 15px #252525;
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

#projectContainer,
.projectCard {
  flex: 0 0 100%;
  padding: 24px;
  border-radius: 20px;
  scroll-snap-align: start;
}

.projectButton,
.sourceCodeButton {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #252525;
  padding: 3px;
  border: none;
  background-color: #252525;
}

.projectTitle {
  color: #fff9d2;
  background-color: #252525;
  border-radius: 200px;
  box-shadow: 2px 2px 3px #252525;
  margin: 10px;
  padding: 5px;
  width: 80%;
  transition: 0.3s ease;
}

.projectDescription {
  padding: 10px;
  margin: 10px auto;
}

/* Image Slideshow */
.projectImages {
  border-radius: 20px;
  width: 100%;
  height: 250px;
  box-shadow: 2px 2px 3px #252525;
  transition: 0.3s ease-in;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -150px;
  padding: 10px;
  color: #fff9d2;
  transition: 0.3s ease;
  border-radius: 20px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Position the "left button" to the left */
.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: #ff8473;
  box-shadow: 1px 2.5px 5px #ff8473;
  color: #ffffff;
  transform: translateY(-2px);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fff9d2;
  padding: 15px;
  font-size: 12px;
  position: absolute;
  top: 0;
  border-radius: 50px;
}

/* The dots/indicators */
.dot1,
.dot2,
.dot3 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #fff9d2;
  box-shadow: 2px 2px 3px #252525;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

#imageDots1,
#imageDots2,
#imageDots3 {
  margin-top: -30px;
  position: relative;
  z-index: 10;
}

.active,
.dot1:hover,
.dot2:hover,
.dot3:hover {
  background-color: #ff8473;
  box-shadow: 0px 2.5px 5px #ff8473;
  transform: translateY(-2px);
  transition: ease 0.5s;
}

/* CONTACT INFORMATION SECTION */
.socialMediaButton {
  background-color: #ff8473;
  box-shadow: 2px 2px 3px #252525;

  width: 50px;
  height: 50px;
  margin: auto;
  padding: 5px;
  border: none;
  border-radius: 20px;
}

.socialMediaTitles {
  padding: 5px;
}

.formButtons {
  background-color: #ff8473;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  color: #fff9d2;
  padding: 10px;
  margin: auto;
  resize: none;
  transition: 0.2s ease-in;
  margin: 10px auto;
}

.formButtons:hover {
  box-shadow: 0px 10px 15px #252525;
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

.formButtons:focus {
  box-shadow: 0px 10px 15px #ff8473;
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

.formButtons:active {
  padding: 10px;
  margin: 5px;
  resize: none;
}

::placeholder {
  padding: 5px;
  margin: auto;
  color: #fff9d2;
  font-size: 13px;
}

#firstName {
  margin: 10px auto;
  padding: 10px;
  width: 45%;
  box-shadow: 2px 2px 3px #252525;
}

#lastName {
  margin: 10px auto;
  padding: 10px;
  width: 45%;
  box-shadow: 2px 2px 3px #252525;
}

#email {
  margin: auto;
  padding: 10px;
  width: 90%;
  box-shadow: 2px 2px 3px #252525;
}

textarea {
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  height: 150px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
}

#submitButton {
  font-size: 12px;
  margin: 0 auto;
  box-shadow: 2px 2px 3px #252525;
}

#submitButton:hover {
  box-shadow: 0px 10px 15px #252525;
  cursor: pointer;
}

#submitButton:active {
  transform: translateY(-2px);
  transition: 0.2s ease-in;
  box-shadow: 0px 10px 15px #ff8473;
}

.pageclip-form__submit::after {
  border-color: rgba(255, 249, 210, 0.8);
  border-left-color: #fff9d2;
}

.resumeCard {
  background-color: #fff9d2;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  height: auto;
  margin: auto;
  width: 100%;
  transition: 0.2s ease-in;
}

.resumeCard h6 {
  margin-top: 5px;
  transition: 0.15s ease;
}

.resumeCard:hover h6 {
  color: #ff8473;
}

#resumeButton {
  margin: auto;
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER */

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background-color: #fff9d2;
  width: fit-content;
  max-width: 90%;
  padding: 0 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px #252525;
  transition: 0.2s ease-in;
}

footer:hover {
  box-shadow: 0px 10px 15px #252525;
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

/* ANIMATIONS */

/*1. Fading animation */
.fade {
  animation: fade 2s ease 0s 1 normal forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
