/* GLOBAL DESIGN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f8f8ff;
  min-height: 100vh;
  text-size-adjust: auto;
  margin: 0 auto;
  position: relative;
  width: 98.5vw;
  display: block;
  overflow-x: hidden;
}

#newNavBar {
  width: 98.5vw;
  float: left;

  background: rgb(13, 171, 141);
  background: linear-gradient(
    241deg,
    rgba(13, 171, 141, 1) 44%,
    rgba(0, 131, 138, 1) 80%
  );
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 2px 3px #252525;
  position: sticky;
  top: 0;
  z-index: 25;
  margin: auto;
  padding: 0 1rem;
  height: 50px;
}

#themeButton {
  border: none;
  background-color: transparent;
}

#themeChanger {
  display: flex;
  float: left;
  padding: 0.5rem 0.75rem;
  margin: 0;
  flex-direction: row;
}

#themeChanger img {
  width: 30px;
  height: 30px;
}

.wrap {
  padding: 0 4em;
}

#myName {
  margin: 0 auto;
  margin-bottom: -10px;
  padding: 0 4rem;
}

.myName,
.navBarTitles {
  text-decoration: none;
  color: #252525;
}

#navBarItems {
  display: flex;
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.navBarItem {
  float: initial;
  margin: 0;
  padding: 0.75rem;
  text-decoration: none;
}

#landingSection,
#expertiseSection,
#contactSection {
  background-color: #f8f8ff;
  width: 100vw;
}

#aboutMeSection,
#projectsSection {
  background-color: #eeeef5;
  width: 100vw;
}

.HEADINGS {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 3px solid #00838a;
}

.headingsDescriptions {
  padding: 0.5rem;
}

button {
  transition: 0.2s ease-in;
  margin: auto;
}

.hide {
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;
}

section {
  width: 90%;
  margin: auto;
}

.animatedSection {
  opacity: 0;
}

/* SCROLLBARS */
#message::-webkit-scrollbar,
.container::-webkit-scrollbar {
  padding: 10px;
  margin: 5px;
}

#message::-webkit-scrollbar-track,
.container::-webkit-scrollbar-track {
  background: #e3e1e3;
  border: 2px solid #252525;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}

#message::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(top right, #7bd5f5, #787ff6);
  border-radius: 30px;
  width: 90%;
  border: 2px solid #252525;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* END SCROLLBARS */

/* ABOUT ME SECTION*/
#intro {
  text-align: left;
}

#introHello {
}

#introName {
}

#introTitle {
  color: #00838a;
}

.block {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border-style: dashed;
}

.blockTitles {
  text-align: center;
  padding: 0.25rem;
  margin: auto;
  color: #00838a;
}

#moreAboutMe {
  list-style: none;
  text-align: justify;
  padding: 0.5rem;
  margin: auto;
}

#moreAboutMe li {
  padding: 0.5rem;
}

#DLCyears {
  list-style: none;
  text-align: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: auto;
}

#DLCyears li {
  padding: 0.15rem;
  border: #00838a dashed;
  border-radius: 30px;
  margin: 0.35rem 0;
}

#DLC {
  list-style: none;
  text-align: justify;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  float: left;
  margin: auto;
}

#DLC li {
  padding: 0.35rem;
}

.smallBlock {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  border-style: dashed;
  margin: 0.25rem;
  padding: 0.5rem;
}

.educationDates {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

.PUPR {
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.CNSA {
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.educationLists {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto;
}

.educationLists li {
  padding: 0 0.5rem;
  margin: 0 0.25rem;
  background-color: lightgray;
  border-radius: 20px;
}

.resumeBlock {
  border-radius: 20px;
  border-style: solid;
  border-color: #00838a;
  height: fit-content;
  margin: 0.25rem;
  width: 100%;
  transition: 0.2s ease-in;
  color: #00838a;
}

.resumeBlock h6 {
  text-align: center;
  margin: 0;
}

.toolkitButtons {
  border-style: solid;
  border-color: #00838a;
  border-radius: 20px;
  background-color: transparent;
  padding: 0.1rem 0.2rem;
  margin: 0.25rem auto;
}

#summary {
  width: 100%;
  height: fit-content;
  margin: 1rem auto;
  padding: 0.5rem;

  border: #252525;
  border-radius: 20px;
  border-style: dashed;

  text-align: justify;
}

#learnMoreButton {
  float: left;
  padding: 0.5rem;
}

#learnMoreButton button {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #00838a;
  margin: auto;
  padding: 0.25rem;
  background-color: #00838a;
}

.mainPictures {
  border-radius: 50px;
  box-shadow: 2px 2px 3px #252525;
  margin: 20px;
  transition: 0.2s ease-in;
}

img.mainPictures {
  aspect-ratio: 0.7/1;
  height: 80vh;
}

img.projectPictures {
  aspect-ratio: 121/69;
  height: 60vh;
  border-radius: 20px;
}

.greeting {
  color: #252525;
  text-shadow: 2px 3px 3px #e3e1e3; /* Horizontal offset, Vertical offset, Blur radius, Color */
  font-size: 1.8em;
  margin: 0 auto;
  padding: 0.35em 0;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 1s ease-in;

  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.greeting span {
  font-family: "Pacifico", sans-serif;
  display: inline-block;
  margin-right: 0.25em;
  opacity: 0;
  filter: blur(4px);
  transition: 0.2s ease-in;
}

.greeting span:hover {
  transform: translateY(-5px);
  transition: 0.2s ease-in;
  text-shadow: 2px 2px 3px #79a9f5;
}

h3.greeting span:nth-child(1) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3.greeting span:nth-child(2) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(1) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(2) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(3) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(4) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(5) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(1) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(2) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(3) {
  animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(4) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(5) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* TECH STACK SECTION */

/* PROJECTS SECTION*/
.sourceCodeButton {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #252525;
  padding: 0 0.5em;
  margin: 0.5em auto;
  border: none;
  background-color: #252525;
  transition: 0.2s ease-in;
  color: #e3e1e3;
  width: fit-content;
}

.sourceCodeButtonAlt {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #252525;
  padding: 0 0.5em;
  margin: 0.5em auto;
  border: none;
  background-color: #252525;
  transition: 0.2s ease-in;
  color: #e3e1e3;
  width: fit-content;
  float: right;
}

.youtubeButton {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #252525;
  padding: 0 0.5em;
  margin: 0.5em 0.5em;
  border: none;
  background-color: #b2071d;
  transition: 0.2s ease-in;
  color: #e3e1e3;
  width: 125px;
  height: 50px;
  float: left;
}

.youtubeButton:hover {
  box-shadow: 0px 10px 15px #b2071d;
  transform: translateY(-4px);
}

.projectType {
  color: #e3e1e3;
  background-color: #252525;
  box-shadow: 2px 2px 3px #252525;
  margin: 0.25em 0.1em;
  padding: 0.25em;
  width: fit-content;
  transition: 0.3s ease;
}

div.col.projectType {
  padding: 0.2em;
}

#inProgress {
  border-radius: 200px 0px 0px 200px; /*top-left top-right bottom-right bottom-left*/
  width: fit-content;
  min-width: 10em;
  color: #e3e1e3;
  background-color: #252525;
  box-shadow: 2px 2px 3px #252525;
  margin: 0 0.25em;
  padding: 0.2em 0.5em;
  float: right;
}

#complete {
  border-radius: 0px 200px 200px 0px;
  width: fit-content;
  min-width: 10em;
  color: #e3e1e3;
  background-color: #252525;
  box-shadow: 2px 2px 3px #252525;
  margin: 0 0.25em;
  padding: 0.2em 0.5em;
  float: left;
}

.inProgressActive {
  background-color: #fbcc18;
  color: #252525;
}

#personal {
  border-radius: 200px 0px 0px 200px; /*top-left top-right bottom-right bottom-left*/
}

#professional {
  border-radius: 0px 200px 200px 0px;
}

.persActive {
  background-color: #7bd5f5;
  color: #252525;
}

.persActive:hover {
  box-shadow: 0px 10px 15px #7bd5f5;
}

.uniActive {
  background-color: #79a9f5;
  color: #252525;
}

.uniActive:hover {
  box-shadow: 0px 10px 15px #79a9f5;
}

.profActive {
  background-color: #787ff6;
  color: #252525;
}

.profActive:hover {
  box-shadow: 0px 10px 15px #787ff6;
}

/* Image Slideshow */
.projectImages {
  border-radius: 20px;
  height: 300px;
  aspect-ratio: 3/2;
  box-shadow: 2px 2px 3px #252525;
  transition: 0.3s ease-in;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 42.5%;
  margin: 0 0.1em;
  color: #e3e1e3;
  transition: 0.3s ease;
  border-radius: 20px;
  border: none;
  user-select: none;
  background: -webkit-linear-gradient(top, #7bd5f5, #787ff6);
  box-shadow: 2px 2px 3px #252525;
}

/* Position the "next button" to the right */
.next {
  right: 20%;
}

/* Position the "left button" to the left */
.prev {
  left: 20%;
}

/* The dots/indicators */
.dot1,
.dot2,
.dot3,
.dot4,
.dot5 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #e3e1e3;
  box-shadow: 2px 2px 3px #252525;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  opacity: 75%;
}

#imageDots1,
#imageDots2,
#imageDots3,
#imageDots4,
#imageDots5 {
  position: relative;
  bottom: 4%;
  z-index: 10;
  width: fit-content;
  margin: auto;
}

.active,
.dot1:hover,
.dot2:hover,
.dot3:hover,
.dot4:hover,
.dot5:hover {
  background: -webkit-linear-gradient(top, #7bd5f5, #787ff6);
  box-shadow: 0px 2px 5px #798ef6;
  transform: translateY(-2px);
  transition: ease 0.5s;
}

/* CONTACT INFORMATION SECTION */
.contactBlock {
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 1rem;
  border-radius: 20px;
  border: solid #00838a;
}

h3#socialMediaHeading {
  display: flex;
  flex-direction: row;
  text-align: center;
  float: right;
  color: #f8f8ff;
  padding: 0 0.5em;
  margin: 0.1em 0.5em;
}

#socialMediaItems {
  display: flex;
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.socialMediaItem {
  float: initial;
  margin: 0;
  padding: 0.75rem;
  text-decoration: none;
}

.socialMediaButton {
  background: #f8f8ff;
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 2.5px;
  border: none;
  border-radius: 20px;
}

#resumeButton {
  margin: auto;
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formButtons {
  background: #eeeef5;
  border: none;
  border-radius: 20px;

  color: #252525;
  padding: 10px;
  margin: auto;
  resize: none;
  margin: 10px auto;
  font-size: 1em;
  transition: 0.5s ease-in;
}

::placeholder {
  padding: 5px;
  margin: auto;
  color: #00838a;
  font-size: 1em;
}

#firstName {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  color: #00838a;
  font-size: 1em;
}

#lastName {
  margin: 10px auto;
  padding: 10px;
  width: 100%;

  color: #00838a;
  font-size: 1em;
}

#email {
  margin: auto;
  padding: 10px;
  width: 100%;

  color: #00838a;
  font-size: 1em;
}

textarea {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  color: #00838a;
  font-size: 1em;
}

#submitButton {
  color: #252525;
  font-size: 1em;
  margin: 0 auto;
  background-color: #00838a;
  transition: 0.5s ease-in;
}

#submitButton:hover {
  box-shadow: 1px 1px 1px #00838a;
}

.pageclip-form__submit::after {
  border-color: rgba(120, 127, 246, 0.8);
  border-left-color: #7bd5f5;
}

.pageclip-form__success {
  background: hsla(300, 3%, 89%, 0.8);
  border-radius: 20px;
}

#socialMediaSection {
  background-color: #252525;
  width: 100vw;
}

/* FOOTER */
footer {
  width: 98.5vw;
  background-color: #252525;
  color: #f8f8ff;
  box-shadow: 0px 2px 3px #252525;
  text-align: center;
  height: 25px;
}

/* For devices with screens with a width less than 767px */
@media screen and (max-width: 767px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }

  section {
    width: 100%;
  }

  .desktopSpace {
    display: none;
  }

  .prev {
    left: -12%;
  }

  .next {
    right: -12%;
  }
}

/* ANIMATIONS */

/*1. Fading animation */
.fade {
  animation: fade 2s ease 0s 1 normal forwards;
}

@keyframes fade {
  0% {
    opacity: 50%;
  }

  to {
    opacity: 1;
  }
}

/*2. Left Slide */
.leftSlide {
  animation: leftSlide 0.8s ease-out 0s 1 normal forwards;
  opacity: 1;
}

@keyframes leftSlide {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*3. Scale */
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

/*4. Fade-in */
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
