/* GLOBAL DESIGN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f8f8ff;
  min-height: 100vh;
  text-size-adjust: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*Buttons*/
button {
  transition: 0.3s ease-in;
}

.primaryButtons {
  padding: 0.5rem;
}

.primaryButtons button:hover {
  box-shadow: 0px 5px 10px #347b56;
  transform: translateY(-4px);
}

.primaryButtons button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.primaryButtons button {
  border: none;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #347b56;
  font-size: large;
  font-weight: bold;
  color: #f8f8ff;
  padding: 0.75rem 1rem;
  background: #1a7452;
  background: linear-gradient(180deg, #1a7452 55%, #347b56 100%);
  cursor: pointer;
}

.secondaryButtons {
  border-style: solid;
  border-color: #347b56;
  border-radius: 20px;
  background-color: transparent;
  padding: 0.25rem;
  color: #347b56;
  text-align: center;
}

button.secondaryButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

button.secondaryButtons:hover {
  box-shadow: 0px 2.5px 5px #347b56;
  transform: translateY(-4px);
}

button.secondaryButtons:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.secondaryButtonText {
  padding: 0.1rem;
  font-weight: bold;
}

#software-development,
#data-analysis,
#pm-and-others {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  padding: 0.5rem;
}

#hardware {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  padding: 0.5rem;
}

/*End Buttons*/

/* Wrappers */
.wrapper {
  max-width: 1440px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pictureWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 1rem;
}

#navBarWrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.projectWrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
/* End Wrappers */

/*Navigation Bar*/
#newNavBar {
  width: 100%;
  height: 75px;

  background: linear-gradient(40deg, #1a7452 44%, #347b56 100%);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 2px 3px #111812;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/*Menu Button*/
#menu {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 0.5rem;
  transition: 0.3s ease-in;
}

#menu:hover {
  transform: translateY(-4px);
}

#menu:active {
  transform: translateY(2px); /* Move button down */
}

#menuButton img,
#goBackButton img {
  width: 50px;
  height: 50px;
}

#menuButton,
#goBackButton {
  border: none;
  background-color: transparent;
  padding: 0;
  align-items: center;
  display: flex;
  cursor: pointer;
}

/*My Name (Home "Button")*/

#myName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  transition: 0.3s ease-in;
}

#myName:hover {
  transform: translateY(-4px);
}

#myName:active {
  transform: translateY(2px);
}

.myName,
.navBarTitles {
  text-decoration: none;
  color: #f8f8ff;
  font-size: large;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
}

/*Theme Changer Button*/
#themeChanger {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 0.5rem;
}

#themeChanger img {
  width: 40px;
  height: 40px;
}

#themeButton:hover {
  transform: translateY(-4px);
}

#themeButton:active {
  transform: translateY(2px);
}

#themeButton {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#navBarItems {
  width: 20%;
  display: flex;
  padding: 1rem 1.5rem;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: fixed;
  z-index: 20;
}

.hide {
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;
  display: none;
}

.navBarItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.75rem 1rem;
  background: linear-gradient(40deg, #1a7452 44%, #347b56 100%);
  border-radius: 50px;
  box-shadow: 0px 2px 3px #111812;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.navBarItem:hover {
  box-shadow: 0px 5px 10px #347b56;
  transform: translateY(-4px);
}

.navBarItem:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*End Navigation Bar*/

/*Sections*/
section {
  padding: 5rem 0;
}

#landingSection,
#projectsSection {
  background-color: #f8f8ff;
}

#aboutMeSection,
#contactSection {
  background-color: #eeeef5;
}

.HEADINGS {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 3px solid #347b56;
}

.headingsDescriptions {
  padding: 0.5rem;
  text-align: center;
}

.animatedSection {
  opacity: 0;
}

#landingSection .smallBlock,
#projectsSection .smallBlock {
  background-color: #eeeef5;
}

#contactSection .smallBlock {
  border: solid #347b56;
  background-color: transparent;
}

#contactSection .primaryButtons {
  float: none;
  margin: auto;
  width: 30%;
}

#socialMediaSection {
  background-color: #111812;
  border: none;
  padding: 1rem 0;
}
/*End Sections*/

/* ANIMATIONS */
/*1. Fading animation */
.fade {
  animation: fade 2s ease 0s 1 normal forwards;
}

@keyframes fade {
  0% {
    opacity: 50%;
  }

  to {
    opacity: 1;
  }
}

/*2. Left Slide */
.leftSlide {
  animation: leftSlide 0.8s ease-out 0s 1 normal forwards;
  opacity: 1;
}

@keyframes leftSlide {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*3. Scale */
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

/*4. Fade-in */
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/* END ANIMATIONS */

/*END GLOBAL DESIGN*/

/* LANDING SECTION */
#mainPicture {
  border-radius: 100%;
  box-shadow: 2px 2px 3px #111812;
  transition: 0.3s ease-in;
  width: 95%;
  max-width: 350px;
  height: auto;
  aspect-ratio: 1/1;
  align-self: center;
  object-fit: cover;
}

#landing2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#intro {
  text-align: justify;
  font-size: large;
}

#intro > h3 {
  color: #347b56;
}

.smallBlock {
  width: 90%;
  height: fit-content;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 1rem;
  font-size: large;
  background-color: #f8f8ff;
  text-align: justify;
}

.smallBlock h5 {
  font-size: larger;
  padding: 0 0 0.5rem 0;
}

/*END LANDING SECTION*/

/*ABOUT ME SECTION*/
#education,
#techStack1,
#techStack2 {
  display: flex;
  flex-direction: column;
}

.blockTitles {
  text-align: center;
  padding: 0.25rem;
  color: #347b56;
}

.inBlockTitles {
  text-align: center;
  padding: 0.5rem;
  color: #111812;
}

.educationBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.educationDates {
  flex: 1;
  padding: 0.5rem;
  font-size: medium;
}

.credentials {
  flex: 2;
  padding: 0.5rem;
  text-align: justify;
  font-size: medium;
}

.educationLists {
  display: flex;
  padding: 0.1rem;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.educationLists li {
  padding: 0.1rem 0.5rem;
  border-radius: 20px;
  border-style: dashed;
  color: #347b56;
  border-color: #347b56;
}
/*END ABOUT ME SECTION*/

/*PROJECTS SECTIONS*/
img.projectPictures {
  aspect-ratio: initial;
  height: auto;
  width: 95%;
  max-width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projectTitle {
  color: #347b56;
  text-align: left;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem;
}

.projectContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*INDIVIDUAL PROJECTS*/
.projectDetailsTitle,
.typeOfProject,
.projectStatus {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0;
}

.sourceVideo {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  justify-content: space-evenly;
}

.sourceCodeButton {
  border-radius: 200px;
  box-shadow: 1px 1px 1px #111812;
  border: none;
  background-color: #111812;
  transition: 0.3s ease-in;
  color: #f8f8ff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.75rem 1rem;
}

.sourceCodeButton:hover {
  box-shadow: 0px 5px 10px #111812;
  transform: translateY(-4px);
}

.sourceCodeButton:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.youtubeButton {
  border-radius: 200px;
  box-shadow: 1px 1px 1px #111812;
  padding: 0 0.5em;
  min-width: 100px;
  border: none;
  background-color: #b2071d;
  transition: 0.3s ease-in;
  color: #f8f8ff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.75rem 1rem;
}

.youtubeButton:hover {
  box-shadow: 0px 5px 10px #b2071d;
  transform: translateY(-4px);
}

.youtubeButton:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.projectType {
  color: #e3e1e3;
  background-color: #111812;
  box-shadow: 2px 2px 3px #111812;
  width: fit-content;
  transition: 0.3s ease;
  padding: 0.2em 0.5em;
  display: flex;
  justify-content: center;
}

div.col.projectType {
  padding: 0.2em;
}

#inProgress {
  border-radius: 200px 0px 0px 200px;
  width: fit-content;
  min-width: 7.5rem;
  color: #e3e1e3;
  background-color: #111812;
  box-shadow: 2px 2px 3px #111812;
  padding: 0.2em 0.5em;
  display: flex;
  justify-content: center;
}

#complete {
  border-radius: 0px 200px 200px 0px;
  width: fit-content;
  min-width: 7.5rem;
  color: #e3e1e3;
  background-color: #111812;
  box-shadow: 2px 2px 3px #111812;
  padding: 0.2em 0.5em;
  display: flex;
  justify-content: center;
}

.inProgressActive {
  background-color: #fbcc18;
  color: #111812;
}

#personal {
  border-radius: 200px 0px 0px 200px;
}

#professional {
  border-radius: 0px 200px 200px 0px;
}

.persActive {
  background-color: #7bd5f5;
  color: #111812;
}

.uniActive {
  background-color: #79a9f5;
  color: #111812;
}

.profActive {
  background-color: #787ff6;
  color: #111812;
}
*/
/* Image Slideshow */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.projectImages {
  border-radius: 20px;
  height: 300px;
  aspect-ratio: 3/2;
  box-shadow: 2px 2px 3px #111812;
  transition: 0.3s ease-in;
}
*/
/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 42.5%;
  margin: 0 0.1em;
  color: #e3e1e3;
  transition: 0.3s ease;
  border-radius: 20px;
  border: none;
  user-select: none;
  background: -webkit-linear-gradient(top, #7bd5f5, #787ff6);
  box-shadow: 2px 2px 3px #111812;
}

.next {
  right: 15%;
}

.prev {
  left: 15%;
}

/* The dots/indicators */

.dot1,
.dot2,
.dot3,
.dot4,
.dot5 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #e3e1e3;
  box-shadow: 2px 2px 3px #111812;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  opacity: 75%;
}

#imageDots1,
#imageDots2,
#imageDots3,
#imageDots4,
#imageDots5 {
  position: relative;
  bottom: 4%;
  z-index: 10;
  width: fit-content;
  margin: auto;
}

.active,
.dot1:hover,
.dot2:hover,
.dot3:hover,
.dot4:hover,
.dot5:hover {
  background: -webkit-linear-gradient(top, #7bd5f5, #787ff6);
  box-shadow: 0px 2px 5px #798ef6;
  transform: translateY(-2px);
  transition: ease 0.5s;
}

/* CONTACT SECTION */
#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.pageclip-form__submit::after {
  border-color: #252525;
  border-left-color: #347b56;
}

.pageclip-form__success {
  background: #eeeef5;
  width: 100%;
  border-radius: 20px;
}

#fullName {
  display: flex;
  gap: 0.5rem;
}

.formButtons {
  background: #f8f8ff;
  border: none;
  border-radius: 20px;
  color: #111812;
  padding: 0.75rem;
  margin: 0.5rem 0;
  resize: none;
  width: 95%;
  font-size: 1em;
  transition: 0.3s ease-in;
}

::placeholder {
  padding: 5px;
  margin: auto;
  color: #347b56;
  font-size: 1em;
}

textarea {
  height: 150px;
}
/*END CONTACT SECTION*/

/*SOCIAL MEDIA SECTION*/
#socialMediaHeading {
  text-align: center;
  color: #f8f8ff;
}

#socialMediaItems {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-direction: row;
}

.socialMediaItem {
  display: flex;
  flex: 1;
  padding: 0.75rem;
  text-decoration: none;
  justify-content: center;
}

.socialMediaButton {
  background: #f8f8ff;
  width: 50px;
  height: 50px;
  padding: 0.25rem;
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 75%;
  cursor: pointer;
}

.socialMediaButton:hover {
  box-shadow: 0px 5px 10px #f8f8ff;
  transform: translateY(-4px);
}

.socialMediaButton:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*END SOCIAL MEDIA SECTION*/

/* FOOTER */
footer {
  width: 100%;
  background-color: #111812;
  color: #f8f8ff;
  text-align: center;
  height: fit-content;
  border: none;
}
/*END FOOTER*/

/* @MEDIA */

@media screen and (width >= 768px) and (width <= 1023px) {
  #landing,
  #education {
    flex-direction: row;
    gap: 10px;
  }

  #landing2 > .smallBlock {
    width: 70%;
  }

  #navBarItems {
    padding: 1rem 0;
  }

  #techStack1,
  #techStack2 {
    align-items: center;
  }

  #software-development,
  #data-analysis,
  #pm-and-others {
    grid-template-columns: auto auto auto;
  }

  .typeStatus {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
  }
}

@media screen and (width >= 1024px) {
  /*Navigation Bar*/
  #newNavBar {
    height: 50px;
  }

  #menu {
    display: none;
    visibility: none;
    opacity: 0;
  }

  #myName {
    align-items: baseline;
    padding: 0 1rem;
  }

  .myName {
    font-size: medium;
  }

  #navBarItems {
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 1000;
    padding-top: 0.15rem;
    position: fixed;
  }

  .navBarItem:hover {
    transform: translateY(-4px);
    box-shadow: none;
  }

  #navBarItemsLarge {
    display: flex;
    justify-content: center;
  }

  #navBarItems.hide {
    opacity: 1;
    visibility: visible;
    display: flex;
    background: transparent;
    border-radius: none;
    box-shadow: none;
    flex-direction: row;
  }

  .navBarItem {
    background: transparent;
    border-radius: none;
    box-shadow: none;
  }

  #themeChanger img {
    width: 30px;
    height: 30px;
  }

  /*End Navigation Bar*/

  /*Landing Section*/
  #landing {
    display: flex;
    flex-direction: row;
  }

  #landing1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #landing2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 3;
    align-items: center;
  }

  #landing2 > .smallBlock {
    width: 85%;
  }
  /*End Landing Section*/

  /*About Me Section*/
  #aboutMe {
    display: flex;
    flex-direction: row;
  }

  #educationLarge {
    flex: 2.5;
  }

  #techStackLarge {
    flex: 3;
  }

  #education,
  #techStack1,
  #techStack2 {
    flex-direction: column;
    gap: 5px;
  }

  #software-development,
  #data-analysis,
  #pm-and-others {
    grid-template-columns: auto auto auto;
  }
  /*End About Me Section*/

  /*Projects Section*/
  .projectContainer {
    flex-direction: row;
  }

  .projectContainer:nth-child(4) {
    flex-direction: row-reverse;
  }

  .projectContainer:nth-child(6) {
    flex-direction: row-reverse;
  }

  .projectContainer1 {
    flex: 3;
  }

  .projectContainer2 {
    display: flex;
    flex-direction: column;
    flex: 2.5;
    align-items: center;
  }

  .typeStatus {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
  }
  /*End Projects Section*/
}
