/* GLOBAL DESIGN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f8f8ff;
  min-height: 100vh;
  text-size-adjust: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

#newNavBar {
  width: 99.9%;
  float: left;

  background: rgb(84, 170, 227);
  background: linear-gradient(40deg, #54aae3 44%, #2984c5 100%);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 2px 3px #111812;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 50px;
}

#themeChanger {
  display: flex;
  float: left;
  padding: 0.5rem 0.75rem;
  margin: 0;
  flex-direction: row;
}

#menuButtonList,
#goBackArrow {
  list-style-type: none;
}

#menuButton,
#goBackButton {
  display: flex;
  float: right;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  flex-direction: row;
  border: none;
  background-color: transparent;
}

#menuButton img {
  width: 50px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 7px;
}

#goBackButton img {
  width: 50px;
  height: 50px;
  padding-top: 3px;
  padding-bottom: 5px;
}

#themeChanger img {
  width: 30px;
  height: 30px;
}

#themeButton {
  border: none;
  background-color: transparent;
}

#myName {
  margin: 0 auto;
  margin-bottom: -10px;
  padding: 0 4rem;
}

.myName,
.navBarTitles {
  text-decoration: none;
  color: #111812;
}

#navBarItems {
  display: flex;
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.navBarItem {
  float: initial;
  margin: 0;
  padding: 0.75rem;
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

#navBarWrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.projectWrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

#landingSection,
#expertiseSection,
#contactSection {
  background-color: #f8f8ff;
}

#aboutMeSection,
#projectsSection {
  background-color: #eeeef5;
}

.HEADINGS {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 3px solid #1d70af;
}

.headingsDescriptions {
  padding: 0.5rem;
}

button {
  transition: 0.2s ease-in;
  margin: auto;
}

.hide {
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;
  display: none;
}

.animatedSection {
  opacity: 0;
}
/* LANDING SECTION */
#intro {
  text-align: left;
}

#introHello {
}

#introName {
}

#introTitle {
  color: #1d70af;
}

#summary {
  width: 100%;
  height: fit-content;
  margin: 1rem auto;
  padding: 0.5rem;

  border: #1d70af;
  background-color: #eeeef5;
  border-radius: 20px;

  text-align: justify;
}

.learnMoreButton {
  float: left;
  padding: 0.5rem;
}

.learnMoreButton button {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #1d70af;
  margin: auto;
  padding: 0.25rem 0.5rem;
  background: #54aae3;
  background: linear-gradient(180deg, #54aae3 55%, #2984c5 100%);
}

.mainPictures {
  border-radius: 50px;
  box-shadow: 2px 2px 3px #111812;
  margin: 20px;
  transition: 0.2s ease-in;
}

img.mainPictures {
  aspect-ratio: 0.7/1;
  height: 80vh;
}

.desktopSpace {
  display: none;
}

/* ABOUT ME SECTION*/
.block {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: #f8f8ff;
}

.blockTitles {
  text-align: center;
  padding: 0.25rem;
  margin: auto;
  color: #1d70af;
}

#moreAboutMe {
  list-style: none;
  text-align: justify;
  padding: 0.5rem;
  margin: auto;
}

#moreAboutMe li {
  padding: 0.5rem;
}

#DLCyears {
  list-style: none;
  text-align: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: auto;
  color: #1d70af;
  width: fit-content;
}

#DLCyears li {
  padding: 0.15rem;
  border: #1d70af dashed;
  border-radius: 30px;
  margin: 0.35rem 0;
}

#DLC {
  list-style: none;
  text-align: justify;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  float: left;
  margin: auto;
}

#DLC li {
  padding: 0.35rem;
}

/*EXPERTISE SECTION*/
.smallBlock {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: #eeeef5;
}

.smallBlockTitles {
  text-align: center;
  padding: 0.25rem;
  margin: auto;
  color: #111812;
}

.educationDates {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

.PUPR {
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.CNSA {
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.educationLists {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto;
}

.educationLists li {
  padding: 0 0.5rem;
  margin: 0 0.25rem;
  border-radius: 20px;
  border-style: dashed;
  color: #1d70af;
  border-color: #1d70af;
}

#resumeWrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.resumeBlock {
  border-radius: 20px;
  border-style: solid;
  border-color: #1d70af;
  height: fit-content;
  margin: 0.25rem;
  width: 100%;
  transition: 0.2s ease-in;
  color: #1d70af;
}

.resumeBlock h6 {
  text-align: center;
  margin: 0;
}

#resumeButton {
  margin: 0.1rem auto;
  padding: 0.1rem 0.2rem;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.toolkitButtons {
  border-style: solid;
  border-color: #1d70af;
  border-radius: 20px;
  background-color: transparent;
  padding: 0.1rem 0.2rem;
  margin: 0.25rem auto;
  color: #1d70af;
  text-align: center;
  font-size: small;
}

/*PROJECTS SECTIONS*/
img.projectPictures {
  aspect-ratio: 121/69;
  height: 60vh;
  border-radius: 20px;
}

.projectTitle {
  color: #1d70af;
  text-align: left;
}

.projectOverview {
  width: 100%;
  height: fit-content;
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: #f8f8ff;
  border-radius: 20px;
  text-align: justify;
}

/*INDIVIDUAL PROJECTS*/
.sourceCodeButton {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #111812;
  padding: 0 0.5em;
  margin: 0.5em auto;
  border: none;
  background-color: #111812;
  transition: 0.2s ease-in;
  color: #e3e1e3;
  width: fit-content;
}

.sourceCodeButtonAlt {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #111812;
  padding: 0 0.5em;
  margin: 0.5em auto;
  border: none;
  background-color: #111812;
  transition: 0.2s ease-in;
  color: #e3e1e3;
  width: fit-content;
  float: right;
}

.youtubeButton {
  border-radius: 200px;
  box-shadow: 2px 2px 3px #111812;
  padding: 0 0.5em;
  margin: 0.5em 0.5em;
  border: none;
  background-color: #b2071d;
  transition: 0.2s ease-in;
  color: #e3e1e3;
  width: 125px;
  height: 50px;
  float: left;
}

.youtubeButton:hover {
  box-shadow: 0px 10px 15px #b2071d;
  transform: translateY(-4px);
}

.projectType {
  color: #e3e1e3;
  background-color: #111812;
  box-shadow: 2px 2px 3px #111812;
  margin: 0.25em 0.1em;
  padding: 0.25em;
  width: fit-content;
  transition: 0.3s ease;
}

div.col.projectType {
  padding: 0.2em;
}

#inProgress {
  border-radius: 200px 0px 0px 200px; /*top-left top-right bottom-right bottom-left*/
  width: fit-content;
  min-width: 10em;
  color: #e3e1e3;
  background-color: #111812;
  box-shadow: 2px 2px 3px #111812;
  margin: 0 0.25em;
  padding: 0.2em 0.5em;
  float: right;
}

#complete {
  border-radius: 0px 200px 200px 0px;
  width: fit-content;
  min-width: 10em;
  color: #e3e1e3;
  background-color: #111812;
  box-shadow: 2px 2px 3px #111812;
  margin: 0 0.25em;
  padding: 0.2em 0.5em;
  float: left;
}

.inProgressActive {
  background-color: #fbcc18;
  color: #111812;
}

#personal {
  border-radius: 200px 0px 0px 200px; /*top-left top-right bottom-right bottom-left*/
}

#professional {
  border-radius: 0px 200px 200px 0px;
}

.persActive {
  background-color: #7bd5f5;
  color: #111812;
}

.uniActive {
  background-color: #79a9f5;
  color: #111812;
}

.profActive {
  background-color: #787ff6;
  color: #111812;
}
/* Image Slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.projectImages {
  border-radius: 20px;
  height: 300px;
  aspect-ratio: 3/2;
  box-shadow: 2px 2px 3px #111812;
  transition: 0.3s ease-in;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 42.5%;
  margin: 0 0.1em;
  color: #e3e1e3;
  transition: 0.3s ease;
  border-radius: 20px;
  border: none;
  user-select: none;
  background: -webkit-linear-gradient(top, #7bd5f5, #787ff6);
  box-shadow: 2px 2px 3px #111812;
}

/* Position the "next button" to the right */
.next {
  right: 15%;
}

/* Position the "left button" to the left */
.prev {
  left: 15%;
}

/* The dots/indicators */
.dot1,
.dot2,
.dot3,
.dot4,
.dot5 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #e3e1e3;
  box-shadow: 2px 2px 3px #111812;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  opacity: 75%;
}

#imageDots1,
#imageDots2,
#imageDots3,
#imageDots4,
#imageDots5 {
  position: relative;
  bottom: 4%;
  z-index: 10;
  width: fit-content;
  margin: auto;
}

.active,
.dot1:hover,
.dot2:hover,
.dot3:hover,
.dot4:hover,
.dot5:hover {
  background: -webkit-linear-gradient(top, #7bd5f5, #787ff6);
  box-shadow: 0px 2px 5px #798ef6;
  transform: translateY(-2px);
  transition: ease 0.5s;
}

/*
.greeting {
  color: #111812;
  text-shadow: 2px 3px 3px #e3e1e3; 
  font-size: 1.8em;
  margin: 0 auto;
  padding: 0.35em 0;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 1s ease-in;

  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}


.greeting span {
  font-family: "Pacifico", sans-serif;
  display: inline-block;
  margin-right: 0.25em;
  opacity: 0;
  filter: blur(4px);
  transition: 0.2s ease-in;
}

.greeting span:hover {
  transform: translateY(-5px);
  transition: 0.2s ease-in;
  text-shadow: 2px 2px 3px #79a9f5;
}

h3.greeting span:nth-child(1) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3.greeting span:nth-child(2) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(1) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(2) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(3) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(4) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h2.greeting span:nth-child(5) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(1) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(2) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(3) {
  animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(4) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h4.greeting span:nth-child(5) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
*/

/* CONTACT INFORMATION SECTION */
.contactBlock {
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 1rem;
  border-radius: 20px;
  border: solid #1d70af;
}

.pageclip-form__submit::after {
  border-color: rgba(120, 127, 246, 0.8);
  border-left-color: #7bd5f5;
}

.pageclip-form__success {
  background: hsla(300, 3%, 89%, 0.8);
  border-radius: 20px;
}

.formButtons {
  background: #eeeef5;
  border: none;
  border-radius: 20px;

  color: #111812;
  padding: 10px;
  margin: auto;
  resize: none;
  margin: 10px auto;
  font-size: 1em;
  transition: 0.5s ease-in;
}

::placeholder {
  padding: 5px;
  margin: auto;
  color: #1d70af;
  font-size: 1em;
}

#firstName {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  color: #1d70af;
  font-size: 1em;
}

#lastName {
  margin: 10px auto;
  padding: 10px;
  width: 100%;

  color: #1d70af;
  font-size: 1em;
}

#email {
  margin: auto;
  padding: 10px;
  width: 100%;

  color: #1d70af;
  font-size: 1em;
}

textarea {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  color: #1d70af;
  font-size: 1em;
}

#submitButton {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #1d70af;
  margin: auto;
  padding: 0.25rem 0.5rem;
  background: #54aae3;
  background: linear-gradient(180deg, #54aae3 55%, #2984c5 100%);
}

/*SOCIAL MEDIA SECTION*/
#socialMediaSection {
  background-color: #111812;
}

h3#socialMediaHeading {
  display: flex;
  flex-direction: row;
  text-align: center;
  float: right;
  color: #f8f8ff;
  padding: 0 0.5em;
  margin: 0.1em 0.5em;
}

#socialMediaItems {
  display: flex;
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.socialMediaItem {
  float: initial;
  margin: 0;
  padding: 0.75rem;
  text-decoration: none;
}

.socialMediaButton {
  background: #f8f8ff;
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 2.5px;
  border: none;
  border-radius: 20px;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #111812;
  color: #f8f8ff;
  text-align: center;
  height: 25px;
}

/* xs screens */
@media (max-width <= 320px) {
}

/* s screens */
@media screen and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  #nevNavBar {
    width: 100vw;
  }

  #myName {
    padding: 0 8.5em;
    height: fit-content;
  }

  #navBarItems {
    /*
    visibility: hidden;
    display: none;
    */
    flex-direction: column;
    padding-top: 0.5rem;
  }

  .navBarItem {
    /*
    visibility: hidden;
    display: none;
    */
    margin: 0.25rem auto;
    padding: 0.25rem 1rem;
    background: rgb(84, 170, 227);
    background: linear-gradient(40deg, #54aae3 44%, #2984c5 100%);
    border-radius: 20px;
    box-shadow: 0px 2px 3px #111812;
    position: sticky;
  }

  #introHello {
    margin-top: 1rem;
    font-size: x-large;
  }

  #introName {
    font-size: x-large;
  }

  #introTitle {
    font-size: large;
  }

  img.mainPictures {
    height: 50vh;
  }

  #DLCyears li:nth-child(1) {
    margin-bottom: 1.5rem;
  }
  #DLCyears li:nth-child(2) {
    margin-bottom: 4.5rem;
  }

  .educationDates {
    font-size: 13.5px;
    padding: 0.1rem;
  }

  .educationLists {
    font-size: small;
    padding: 0.1rem 0;
  }

  .projectWrapper {
    min-width: 50vw;
  }

  .prev,
  .next {
    margin: 0 -4.65rem;
  }

  .projectImages {
    height: 30vh;
  }

  #inProgress,
  #complete {
    min-width: 9em;
  }

  img.projectPictures {
    height: 20vh;
  }

  .smallBlock {
    margin-bottom: 2rem;
  }

  h3#socialMediaHeading {
    margin: 0.5rem auto 0 auto;
    flex-direction: row;
    align-items: center;
    float: none;
    justify-content: space-around;
  }
  #socialMediaItems {
    float: none;
    justify-content: space-evenly;
  }

  footer {
    width: 100vw;
    margin: 0 auto;
    height: fit-content;
  }
}

/*  m screens */
@media screen and (max-width <= 412px) {
}

/* l screens */
@media screen and (max-width <= 768px) {
}

/* ANIMATIONS */

/*1. Fading animation */
.fade {
  animation: fade 2s ease 0s 1 normal forwards;
}

@keyframes fade {
  0% {
    opacity: 50%;
  }

  to {
    opacity: 1;
  }
}

/*2. Left Slide */
.leftSlide {
  animation: leftSlide 0.8s ease-out 0s 1 normal forwards;
  opacity: 1;
}

@keyframes leftSlide {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*3. Scale */
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

/*4. Fade-in */
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
