body {
    font-family: Verdana;
    padding: 2%;
    width: 95%;
    text-size-adjust: auto;
    min-width: 360px;
    max-width: 2880px;
    min-height: 800px;
    max-height: 1800px;
}

#navbar {   
    padding: 5px;
}

header {
    background-color: darkslateblue;
    margin: -35px;
}

.button {
    text-decoration: none;
    padding: 30px;
}

h1 {
    font-style: italic;
    font-family: cursive;
    color: darkslateblue;
    text-size-adjust: auto;
}

h2 {
    color: darkslateblue;
    text-size-adjust: auto;
}

h3 {
    color: darkslateblue;
}

h4 {
    color: darkslateblue;
}

h5 {
    color: darkslateblue;
    text-size-adjust: auto;
}

p.desc {
    text-align: justify;
    text-size-adjust: auto;
}


ul {
    padding-left: 75px;
    list-style-type: circle;
    text-size-adjust: auto;
    color: darkslateblue;
    ;
}

ol {
    padding-left: 80px;
    padding-right: 75px;
    color: darkslateblue;
}

table {
    width: 100%;
    text-size-adjust: auto;
    font-size: x-large;
    color: darkslateblue;
    background-color: lightgrey;
}

table.one {
    width: 25%;
    text-size-adjust: auto;
    background-color: white;
}

th {
    padding: .5cm;
    text-size-adjust: auto;
}

div {
    position: static;
    text-size-adjust: auto;
}

sub {
    color: darkslateblue;
}

hr {
    width: 95%;
}

a {
    color: gray;
}