body {
    background-image: linear-gradient(to bottom left, #FF8473, #FFF9D2);
    font-family: Verdana;
    width: 95%;
    text-size-adjust: auto;
    padding: 0;
    margin: 0;
    
    min-width: 360px;
    min-height: 486px;

    max-width: 3024px;
    max-height: 1964px;
}

.navBar {
    position: sticky;
    z-index: 1100;
    top: 10px;
    width: 65px;
    height: 65px;
    margin-left: 30px;
    border-radius: 20px;
    top: 10px;
    box-shadow: 2px 2px 3px #111111;
    background-color: #FFF9D2;
}

#menuButton {
    margin: auto;
    border: none;
    padding: 7px 0px 0px 7px;
    border-radius: 20px;
    background-color: transparent;
}

#menuButtonsList {
    list-style: none;
    padding-left: 0;
    align-items: left;
    justify-content: left;
    padding-top: 28px;
}

.options {
    padding-bottom: 28px;
    cursor: pointer;
    box-sizing: border-box;
}

.hide {
    visibility: hidden;
}

.menuButtons {
    background-color: #FFF9D2;
    box-shadow: 2px 2px 3px #111111;

    width: 65px;
    height: 65px;

    border: none;
    border-radius: 20px;
}

h6 {
    text-align: center;
}

#greeting {
    margin-top: -20px;
}

#myPic {
    border-radius: 200px;
    box-shadow: 2px 2px 3px #111111;
}

.infoCard {
    background-color: #fff9d2;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #111111;
    padding: 10px;
    margin: 10px;
}

h3:hover {
    color: #FF8473;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: justify;
    text-indent: 2em;
}

#lists {
    padding-left: 75px;
    list-style-type: square;
    text-size-adjust: auto;
}

li {
    text-align: left;
}

#link {
    color: #FF8473;
}

footer {
    margin-bottom: 20px;
}