body {
    background-image: linear-gradient(to bottom left, #FF8473, #FFF9D2);
    font-family: Verdana;
    width: 95%;
    text-size-adjust: auto;
    padding: 0;
    margin: 0;

    min-width: 360px;
    min-height: 486px;

    max-width: 3024px;
    max-height: 1964px;
}

.navBar {
    position: sticky;
    z-index: 1100;
    top: 10px;
    width: 65px;
    height: 65px;
    margin-left: 30px;
    border-radius: 20px;
    top: 10px;
    box-shadow: 2px 2px 3px #252525;
    background-color: #FFF9D2;
}

#menuButton {
    margin: auto;
    border: none;
    padding: 7px 0px 0px 7px;
    border-radius: 20px;
    background-color: transparent;
}

#menuButtonsList {
    list-style: none;
    padding-left: 0;
    align-items: left;
    justify-content: left;
    padding-top: 28px;
}

.options {
    padding-bottom: 28px;
    cursor: pointer;
    box-sizing: border-box;
}

.hide {
    visibility: hidden;
}

.menuButtons {
    background-color: #FFF9D2;
    box-shadow: 2px 2px 3px #252525;

    width: 65px;
    height: 65px;

    border: none;
    border-radius: 20px;
}

h6 {
    text-align: center;
    font-size: 6px;
}

#greeting {
    margin-top: -20px;
}

.greeting, h4, h2{
    color: #252525;
    text-shadow: 2px 2px 3px #fff9d2;
    font-style: oblique;
}

.mainPictures {
    border-radius: 200px;
    box-shadow: 2px 2px 3px #111111;
    margin: 20px;
}

.infoCard {
    background-color: #fff9d2;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #111111;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

#contact,
#summary {
    color: #FF8473;
    text-shadow: 2px 2px 5px #FF8473;
    font-style: oblique;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: justify;
    text-indent: 2em;
}

.formButtons {
    background-color: #FF8473;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #111111;
    color: #fff9d2;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    resize: none;
}

::placeholder {
    padding: 5px;
    margin: 10px;
    color: #fff9d2;
}

#firstName {
    margin: 5px;
    padding: 10px;
    width: 39%;
    box-sizing: border-box;
}

#lastName {
    margin: 5px;
    padding: 10px;
    width: 38%;
    box-sizing: border-box;
}

#email {
    margin: 5px;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
}

textarea {
    margin: 5px;
    padding: 12px 20px;
    width: 80%;
    height: 150px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: auto;
}

.formButtons::-webkit-scrollbar {
    width: 15px;
}

.formButtons::-webkit-scrollbar-track {
    height: 50%;
    background: #FF8473;
    margin-right: 10px;
    border: 2px solid #252525;
    border-radius: 30px;
    box-sizing: border-box;
}

.formButtons::-webkit-scrollbar-button{
    background-color: #FFF9D2;
    border-radius: 30px;
    visibility: hidden;
}

.formButtons::-webkit-scrollbar-thumb {
    background-color: #FFF9D2;
    border-radius: 30px;
    width: 90%;
    border: 2px solid #252525;
}

#submitButton:hover {
    background-color: #252525;
    box-shadow: 2px 2px 3px #FF8473;

}

li {
    text-align: left;
}

#link {
    color: #FF8473;
}

footer {
    margin-bottom: 20px;
}