body {
    background-image: "Images/BackgroundImage.jpg";
    font-family: Verdana;
    width: 95%;
    text-size-adjust: auto;
    min-width: 360px;
    max-width: 2880px;
    min-height: 800px;
    max-height: 1800px;
}

#univInfo {
    line-height: 12px;
}

#myPic {
    border-radius: 200px;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

h3:hover{
    color: green;
}

/*
#navBar {
    background-color: #252525;
    margin: auto;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    left: 10px;
    right: 10px;
    box-shadow: 2px 2px 3px #111111;
    width: 75px;
    height: 75px;
}
*/
#navBar {
    position: sticky;
    top: 10px;
    width: 75px;
    height: 65px;
    margin-left: 50px;
    border-radius: 20px;
    top: 10px;
    box-shadow: 2px 2px 3px #111111;
    background-color: green;
}


h6 {
    text-align: center;
}

.dropdown-item {
    margin: auto;

}

.dropdown-content{
    background-color: transparent;

}

.button {
    text-decoration: none;
    padding: 30px;
}

#card{
    background: #252525;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #111111;
    padding: 20px;
    margin: 20px;
}

h1 {
    font-style: italic;
    font-family: Verdana;
    color: darkgoldenrod;
    text-size-adjust: auto;
}

h2 {
    color: darkgoldenrod;
    text-size-adjust: auto;
}

h5 {
    color: darkgoldenrod;
    text-size-adjust: auto;
}

p.desc {
    text-align: justify;
    text-size-adjust: auto;
}

#lists{
    padding-left: 75px;
    list-style-type: square;
    text-size-adjust: auto;
}

ol {
    padding-left: 80px;
    padding-right: 75px;
}

li{
    text-align: left;
}

table {
    width: 100%;
    text-size-adjust: auto;
    font-size: x-large;
}

table.one {
    width: 25%;
    text-size-adjust: auto;
}

th {
    padding: .5cm;
    text-size-adjust: auto;
}

hr {
    width: 95%;
}

a {
    color: darkgoldenrod;
}